REACT_APP_AGENCY_ENDPOINT=http://localhost:3000
REACT_APP_AUTH_SERVICE_ENDPOINT=http://localhost:3004
REACT_APP_DEMO_USER_DID=<REACT_APP_DEMO_USER_DID>
REACT_APP_DEMO_USER_ACCESS_TOKEN=<REACT_APP_DEMO_USER_ACCESS_TOKEN>
REACT_APP_DEMO_USER_REFRESH_TOKEN=<REACT_APP_DEMO_USER_REFRESH_TOKEN>