:root {
  --inter-font-family: inter, sans-serif;

  --font-size-label-s: 11px;
  --font-size-label-m: 12px;
  --font-size-label-l: 15px;
  --font-size-body-s: 14px;
  --font-size-body-m: 16px;
  --font-size-subtitle-s: 14px;
  --font-size-subtitle-m: 16px;
  --font-size-headline-s: 20px;
  --font-size-headline-m: 24px;
  --font-size-headline-l: 34px;
  --font-size-display: 56px;

  --font-line-label-s: 16px;
  --font-line-label-m: 16px;
  --font-line-label-l: 24px;
  --font-line-body-s: 20px;
  --font-line-body-m: 24px;
  --font-line-subtitle-s: 20px;
  --font-line-subtitle-m: 24px;
  --font-line-headline-s: 28px;
  --font-line-headline-m: 32px;
  --font-line-headline-l: 40px;
  --font-line-display: 64px;
}
