MEDIATOR_PUBLIC_DID=did:web:mediator.dev.paradym.id
ENABLE_KEPLR_INTEGRATION=false
OAUTH_STORE_CONFIG={"oauthConfig":{"clientId":"heka-wallet","redirectUrl":"com.heka.wallet.auth:/oauthredirect","scopes":["openid","profile","email"],"serviceConfiguration":{"authorizationEndpoint":"http://localhost:8080/realms/heka-wallet/protocol/openid-connect/auth","tokenEndpoint":"http://localhost:8080/realms/heka-wallet/protocol/openid-connect/token","revocationEndpoint":"http://localhost:8080/realms/heka-wallet/protocol/openid-connect/revoke"},"dangerouslyAllowInsecureHttpRequests":true},"userInfoEndpoint":"http://localhost:8080/realms/heka-wallet/protocol/openid-connect/userinfo","accountDeletionURL":"http://localhost:8080/realms/heka-wallet/account"}
ENABLE_EXTERNAL_AUTH=false
ENABLE_WALLET_BACKUP=false
ENABLE_EXAMPLE_CREDENTIAL=false
ENABLE_PUBLIC_INVITATION=false
CERTIFICATE_HASH=<base64url-encoded-sha256_cert_fingerprints>
WALLET_PROVIDER_URL=<wallet-provider-url>