OPENAI_API_KEY=<OPENAI_API_KEY, e.g. sk-proj-...>
DEMO_AGENT_PORT=10003
CLI_CLIENT_PORT=3010
IDENTITY_SERVICE_URL=http://localhost:3000
IDENTITY_SERVICE_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlcyI6WyJBZG1pbiJdLCJuYW1lIjoiZGVtbyIsInR5cGUiOiJhY2Nlc3MiLCJpYXQiOjE3NzE5ODA5MjAsImV4cCI6MzI4NzU5ODA5MjAsImF1ZCI6Ikhla2EgSWRlbnRpdHkgU2VydmljZSIsImlzcyI6Ikhla2EiLCJzdWIiOiI1YjQwZDIwMi0yMmI2LTQ2ZDMtOWY0NC04YmY3ZjEwYzNmNGUifQ.j8v7QFYkpwgtPbDU-aIMayMsMo_vLQ9v9h3dBELqBeo
HOLDER_PUBLIC_DID=did:peer:2.Vz6MkoWbqNzyX3BaTpECoQsCkKrww2n2pu6F7ZUYq7msD8q5P.Ez6LShhHdY2PSw9QRStKsPoEYDZyfDV8pTGuWTbdc6a2VdsnT.SeyJzIjoid3NzOi8vY2EuZGV2LjIwNjAuaW8iLCJ0IjoiZGlkLWNvbW11bmljYXRpb24iLCJwcmlvcml0eSI6MCwicmVjaXBpZW50S2V5cyI6WyIja2V5LTEiXSwiciI6WyJkaWQ6a2V5Ono2TWtyZ2lmbW1nN1ZWOHQzUXdKTGJnaVJEZnF4UFVyWXZQd25Qcm9aeEQ4cTduTCN6Nk1rcmdpZm1tZzdWVjh0M1F3SkxiZ2lSRGZxeFBVcll2UHduUHJvWnhEOHE3bkwiXX0