logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.nyc_output
coverage.*

# Dependency directory
node_modules

# Optional npm/yarn cache directory
.npm

# Yarn Berry (keep .yarn/releases tracked)
.yarn/cache
.yarn/install-state.gz

# Optional REPL history
.node_repl_history

temp
dist
typings/
lib/*.js
test/*.js
*.map
.env

.vscode
.idea
.data
.static
